.phonebook {
    text-align: center;
    padding: 20px;

    width: 600px;
    height: auto;
    background-color: rgb(238, 252, 252);
    margin: 0 auto;
    margin-top: 10vh;

    border-radius: 10px;

    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.contacts{
    width: 500px;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(223, 255, 255);
    border-radius: 10px;
   
    padding: 40px;
} 

.label__header {
    font-size: 20px;
    margin-top: 20px;
}
.label__input + .label__input {
    margin-top: 20px;
}
.label__input {
    height: 30px;
    width: 350px;
    margin: 0 auto;
    margin-top: 10px;
}

.phonebook__button {
    display:inline-block;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.phonebook__button:hover {
    background-color: rgb(0, 255, 98);
    box-shadow: 0 15px 20px rgba(0, 255, 149, 0.4);
    color: white;
    transform: translateY(-7px);
}