.phonebook {
    text-align: center;
    padding: 20px;

    width: 600px;
    height: auto;
    background-color: rgb(238, 252, 252);
    margin: 0 auto;
    margin-top: 10vh;

    border-radius: 10px;

    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}