@import 'styles/main.scss';

.phonebook {
    text-align: center;
    padding: 20px;

    width: 600px;
    height: auto;
    background-color: $mainBgColor;
    margin: 0 auto;
    margin-top: 10vh;

    border-radius: 10px;
    box-shadow: $mainBoxShadow;
}