.contacts {
    margin-top: 20px;
    background-color: rgb(223, 255, 255);
    border-radius: 10px;
    padding: 40px;
}


.contacts__list {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    overflow-y: auto;
}
.contacts__item + .contacts__item{
    margin-top: 10px;
}
.contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(0, 255, 98);
    border-radius: 10px;
    padding: 8px;
}

.contacts__button {
    display: inline-block;
    z-index: 2;
    text-decoration: none;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.contacts__button:hover {
    background-color: rgb(253, 55, 6);
    box-shadow: 0 15px 20px rgba(255, 30, 0, 0.4);
    color: white;
    transform: translateY(-7px);
}