@import 'styles/main.scss';

.contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    // align-content: start;

    color: $mainTextColor;
    margin-top: 20px;
    background-color: $secondBgColor;
    border-radius: 10px;
    padding: 20px 40px;

    box-shadow: $secondBoxShadow;
    // height: 100vh // height: 100%;
    flex-grow: 1;
    // height: 100%;

}

.contacts__list {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;

    height: 120px;

    // flex-grow: 1;

    outline: 1px solid red;
    overflow-y: auto;
}

.contacts__item+.contacts__item {
    margin-top: 10px;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid $green;
    border-radius: 10px;
    padding: 8px;
    background-color: $mainBgColor;

    box-shadow: $contactsBoxShsdow;
    color: $mainTextColor;
}

.contacts__button {
    @extend %button
}

.contacts__button:hover {
    @extend %button-hover;
    background-color: $btnContactBgHoverColor;
    box-shadow: $btnContactHoverBoxShadow;
}